body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我的_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:3px;
    width:750px;
    height:56px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:62px;
}

.u1 {
    position:absolute;
    left:2px;
    top:20px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我的_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:70px;
    width:748px;
    height:29px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:754px;
    height:35px;
}

.u3 {
    position:absolute;
    left:2px;
    top:6px;
    width:744px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我的_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:109px;
    width:750px;
    height:132px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:138px;
}

.u5 {
    position:absolute;
    left:2px;
    top:58px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../我的_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:17px;
    top:124px;
    width:705px;
    height:44px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:711px;
    height:50px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../我的_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:17px;
    top:178px;
    width:705px;
    height:44px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:711px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../我的_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:178px;
    top:251px;
    width:377px;
    height:44px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:383px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:14px;
    width:373px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../我的_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:305px;
    width:750px;
    height:80px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:86px;
}

.u13 {
    position:absolute;
    left:2px;
    top:32px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../我的_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:1px;
    top:322px;
    width:180px;
    height:36px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:42px;
}

.u15 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../我的_files/u14_normal.png');
}

.u16_container {
    position:absolute;
    left:570px;
    top:322px;
    width:180px;
    height:36px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../我的_files/u10_normal.png');
}

.u18_container {
    position:absolute;
    left:186px;
    top:395px;
    width:377px;
    height:44px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:383px;
    height:50px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:373px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../我的_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:2px;
    top:479px;
    width:748px;
    height:131px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:754px;
    height:137px;
}

.u21 {
    position:absolute;
    left:2px;
    top:58px;
    width:744px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../我的_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:-12px;
    top:493px;
    width:762px;
    height:48px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:768px;
    height:54px;
}

.u23 {
    position:absolute;
    left:2px;
    top:16px;
    width:758px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../我的_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:232px;
    top:551px;
    width:113px;
    height:48px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:54px;
}

.u25 {
    position:absolute;
    left:2px;
    top:16px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../我的_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:386px;
    top:551px;
    width:113px;
    height:48px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:54px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../我的_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:-1px;
    top:633px;
    width:750px;
    height:696px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:702px;
}

.u29 {
    position:absolute;
    left:2px;
    top:340px;
    width:746px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../我的_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:1px;
    top:632px;
    width:748px;
    height:46px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:754px;
    height:52px;
}

.u31 {
    position:absolute;
    left:2px;
    top:15px;
    width:744px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:-12px;
    top:688px;
    width:374px;
    height:80px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u33 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u34_container {
    position:absolute;
    left:375px;
    top:688px;
    width:374px;
    height:80px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u35 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:-12px;
    top:795px;
    width:374px;
    height:80px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u37 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u38_container {
    position:absolute;
    left:375px;
    top:795px;
    width:374px;
    height:80px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u39 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u40_container {
    position:absolute;
    left:-15px;
    top:908px;
    width:374px;
    height:80px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u41 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u42_container {
    position:absolute;
    left:376px;
    top:908px;
    width:374px;
    height:80px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u43 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u44_container {
    position:absolute;
    left:-12px;
    top:1016px;
    width:374px;
    height:80px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u45 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u46_container {
    position:absolute;
    left:375px;
    top:1016px;
    width:374px;
    height:80px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u47 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u48_container {
    position:absolute;
    left:-12px;
    top:1123px;
    width:374px;
    height:80px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u49 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u50_container {
    position:absolute;
    left:375px;
    top:1123px;
    width:374px;
    height:80px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u51 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u52_container {
    position:absolute;
    left:-12px;
    top:1226px;
    width:374px;
    height:80px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u53 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../我的_files/u32_normal.png');
}

.u54_container {
    position:absolute;
    left:375px;
    top:1226px;
    width:374px;
    height:80px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:86px;
}

.u55 {
    position:absolute;
    left:2px;
    top:32px;
    width:370px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

